html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    min-width: 320px;
}


/***** LOGO ****/

.logo {
    margin: 20px auto;
    text-align: center;
    padding: 5px;
}

.logo img {
    width: 100%;
    max-width: 180px;
}


/***** MENU ****/

.menu {
    list-style: none;
    padding: 0 10px;
    text-align: center;
}

.menu li {
    display: inline-block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.menu li a {
    text-decoration: none;
    color: #404040;
}

@media screen and (min-width: 640px) and (max-width: 959px) {
    .menu li {
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .menu li {
        width: 33.3%;
    }
}


/***** FORM ****/

form {
    text-align: center;
}

input {
    padding: 5px 10px;
    outline: none;
    border: solid 1px #d0d0d0;
	border-radius: 3px;
}
input[type=number] {
    max-width: 50px;
}

input:focus {
    border-color: #35b8c4;
}

button {
    background: #d0d0d0;
    border: none;
    padding: 6px 10px;
    margin-left: 5px;
	border-radius: 3px;
}

button:hover,button:focus{
    background: #35b8c4;
    color: #fff;

}


/***** NAVIGATION ****/

.nav-bar {
    padding: 8px 15px;
    background: #fafafa;
    border-bottom: solid 1px #b4b4b4;
    margin-bottom: 15px;
}

.back-button {
    text-decoration: none;
    color: #404040;
}

.back-button:before {
    content: '< ';
    font-weight: bold;
}


/***** DETAIL VIEW ****/

#sensor-view{
    padding: 0 10px;
}

.details-list{
    list-style: none;
    padding: 0 20px;
}
.details-list .item{
    padding: 15px 0;
    border-bottom: solid 1px #d0d0d0;
}
.details-list .item .title{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.details-list .item .value{
    padding-left: 10px;
}
.details-list .item .current-value{
    color: #f1571e;
}

/***** SENSOR ****/

.sensor {
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    border: solid 1px #d0d0d0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.sensor .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}

.sensor span {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.sensor .current-value {
    font-size: 2em;
    color: #f1571e;
}
